<section class="container">
    <div class="row">
        <div class="col-12">
            <div class="card mb-2 banner-imagem">
                <div class="card-body">
                    <img src="../assets/img/targetsistemas.webp" alt="Target Sistemas Logo">
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Respostas</h5>
                    <resposta-1></resposta-1>
                    <resposta-2></resposta-2>
                    <resposta-3></resposta-3>
                    <resposta-4></resposta-4>
                    <resposta-5></resposta-5>
                </div>
            </div>
        </div>
    </div>
</section>